<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="99999999">
    <title>Test Report</title>
    <style type="text/css">
        {{style.css}}
    </style>
</head>
<body>
<h1>
    Test Report: {{ .Title }}
</h1>
<a id="toc"></a>
<table class="index-table">
    <tr>
        <td>
            <ul class="toc">
                {{range .Report.Suites }}
                <li>{{ .Name }}
                    <ul>
                        {{ range .TestCases }}
                        <li><a href="#{{.ID}}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </li>
                {{ end }}
            </ul>
        </td>
        <td class="failure-index">
            <ul class="toc">
                {{range $suite := .Report.Suites }}
                {{ range $suite.TestCases }}
                {{ if .Failure }}
                <li class="li-failed"><a href="#{{.ID}}">FAILED: {{ $suite.Name}} - {{ .Name }}</a></li>
                {{end}}
                {{end}}
                {{end}}
            </ul>
        </td>
    </tr>
</table>

{{range .Report.Suites }}
<div class="testsuite">
    <h2>Test Suite: {{ .Name }}</h2>
    {{if .Properties }}
    <h3>Suite Properties</h3>
    <table class="proplist">
        {{ range .Properties }}
        <tr>
            <th>{{.Name}}</th><td>{{.Value}}</td>
        </tr>
        {{end}}
    </table>
    {{end}}
    <h3>Results</h3>
    <table class="proplist">
        <tr>
            <th>Duration</th><td>{{ .Time }} sec</td>
        </tr>
        <tr>
            <th>Tests</th><td>{{ .Tests }}</td>
        </tr>
        <tr>
            <th>Failures</th><td>{{ .Failures }}</td>
        </tr>
    </table>

    <div class="testclasses">
        <h3>Tests</h3>
        <div class="testclass">
            <h4>{{.Name }}</h4>
            <div class="testcases">
                {{ range .TestCases }}
                <div class="test outcome outcome-{{ .Outcome | lower }}">
                    <a id="{{.ID}}"></a>
                    <table class="proplist">
                        <tr><th>Test case:</th><td><b>{{.Name }}</b></td></tr>
                        <tr><th>Outcome:</th><td>{{.Outcome}}</td></tr>
                        <tr><th>Duration:</th><td>{{.Time }} sec</td></tr>
                        {{if .Failure }}
                        <tr><th>Failed</th><td>
                            {{if .Failure.Type }}
                            {{.Failure.Type}}
                            {{end}}
                            {{if .Failure.Message }}
                            {{.Failure.Message}}
                            {{end}}
                        </td></tr>
                        {{end}}
                        {{if .SkipMessage }}
                        <tr><th>Skipped</th><td>{{.SkipMessage.Message }}</td></tr>
                        {{end}}
                    </table>

                    {{if .Failure }}
                    <pre>{{.Failure}}</pre>
                    {{end}}

                    {{if .SkipMessage }}
                    <pre>{{.SkipMessage}}</pre>
                    {{end}}

                </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{ end }}

<p class="footer">
    Generated by junit2html
</p>
</body>
</html>